body {
    font-family: Arial, sans-serif;
    background-color: #2d2b3c; 
    color: #e0dfe6; 
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    margin-bottom: 20px;
    text-align: center;
    font-size: 35px;
}

.text-counter {
    font-weight: bold;
    margin-bottom: 10px;
}

label {
    margin-bottom: 5px;
}

select {
    width: 50px;
    max-width: 150px;
    margin-bottom: 20px;
}

/* Style for the select dropdowns */
select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15); 
    background: #594e87; 
    color: #e0dfe6; 
}

/* Style for the options inside the dropdowns */
select option {
    background: #594e87; 
    color: #e0dfe6; 
}

#action-label {
    float: right;
    padding: 10px;
}

#action {
    width: 100px;
    float: right;
    display: block;
}

textarea {
    width: 100%;
    padding: 10px;
    font-size: 20px;
    min-height: 150px;
    margin-bottom: 20px;
    background-color: #4b4a57; 
    color: #e0dfe6; 
    border: none;
    resize: vertical;
}

textarea::placeholder {
    color: #9a98a6; 
}

#process-button {
    width: 50%;
    max-width: 150px;
    margin: 0 auto 20px;
    padding: 10px;
    font-size: 16px;
    background-color: #6c6696; 
    color: #fff;
    border: none;
    cursor: pointer;
}

#process-button:hover {
    background-color: #594e87; 
}

#brute-force-button {
    float: right;
    width: 50%;
    max-width: 150px;
    margin: 0 auto 20px;
    padding: 10px;
    font-size: 16px;
    background-color: #6c6696;
    color: #fff;
    border: none;
    cursor: pointer;
}

#brute-force-button:hover {
    background-color: #594e87;
}

#download-button {
    width: 50%;
    max-width: 150px;
    margin: 0 auto 20px;
    padding: 10px;
    font-size: 16px;
    background-color: #8449bb;
    color: #fff;
    border: none;
    cursor: pointer;
}

#download-button:hover {
    background-color: #954fd6; 
}

#reset-button {
    float: right;
    width: 50%;
    max-width: 150px;
    margin: 0 auto 20px;
    padding: 10px;
    font-size: 16px;
    background-color: darkred;
    color: #fff;
    border: none;
    cursor: pointer;
    align-self: flex-end;
}

#reset-button:hover {
    background-color: #b62e2e; 
}

footer {
    margin-top: 30px;
    font-size: 14px;
    text-align: center;
}
